section.container .image {
  position: relative;
}

section.container .image .overlay {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

section.container .image .overlay p {
  font-size: 4vw;
  text-transform: capitalize;
  font-weight: bolder;
  margin-bottom: 20px;
  white-space:nowrap;
}

section.container .image .overlay a {
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 2.5vw;
  cursor: pointer;
}

section.container .image img {
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
}

.section-text, .section-text p {
  text-align: center;
}

.inverted-image {
  transform: scaleX(-1);
}

