.options-summary {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;

}

.order-btn {
  color: #000;
  background-color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  border: 2px solid #000;
  padding: 9px;
  font-weight: 700;
  transition: .5s ease-in-out;
}

.order-btn:hover {
  font-size: larger;
}