.car-link {
  text-decoration: none;
  color: #000;
  margin: 1rem;
}

.product-card {
  display: flex;
  max-width: 200px;
  height: 100%;
  
  flex-direction: column;
}

.product-title {
  text-align: center;
}

.product-details {
  display: flex;
  flex: 1;
  flex-direction: column;        
  justify-content: flex-end;
  margin-top: 1rem;
}

.product-card img {
  width: 100%;
  transition: 0.5s ease-in-out;
}

.product-card img:hover {
  transform: scale(1.7);
}


