.configurator {
  display: flex;
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid #aaa; */
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px #000000;

}

.left-panel {
  display: flex;
  width: 20%;
  border-right: 1px solid #aaa;
}

.options-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.options-panel nav {
  list-style: none;
}

.configurator-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary {
  text-align: center;
}

img.configuration-result {
  width: 100%;
}