/* car-configuration.css */

.configurator {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.configurator .configurator-panel {
  display: flex;
  width: 20%;
}

.configurator-nav-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ddd;
  padding: 10px; /* Додав падіння для кращого вигляду */
}

.configurator-option {
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}

.configurator-option img {
  width: 50%;
  border: 2px solid transparent;
}

.configurator-option img.active {
  border-color: #007bff; /* Змініть колір рамки за потребою для активної іконки */
}

.nav-icon {
  display: flex;
  justify-content: center;
}

.nav-icon img {
  max-width: 25%;
  width: 25%;
}

.configurator-image {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  align-items: center;
  width: 75%; /* Змінено ширину для відображення основної частини */
  padding: 20px; /* Додано падіння для кращого вигляду */
}

.configurator-image img {
  display: block;
  width: 100%;
}
