.car-list-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}


.car-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.show-more-btn {
  margin-top: 2rem;
  border: 2px solid #000;
  background-color: #fff;
  padding: 10px;
  text-transform: capitalize;
  transition: .25s ease-in-out;
}

.show-more-btn:hover {
  transform: scale(1.2);
  border: 2px solid #333;
  color: #333;
}